@import "tailwindcss";


@layer components {
    .btn {
      border-radius: 4px;
      padding: 8px 16px;
      color: white;
      cursor: pointer;
      transition: background 300ms;
      &:hover {
        @media (hover: hover) {
          background-color: #e73535;
        }
      }
    }
  }
